@use 'src/assets/scss/vars'  as _vars;

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: _vars.$font-primary;
}

.container {
  max-width: _vars.$desktop;
  margin: 0 auto;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
