@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,400&display=swap');

/* Typography */
$font-primary: 'Poppins', sans-serif;

/* Colors */
$pragma_black: #1D1D1B;
$prgama_purple: #6429CD;
$pragma_white: #FFFFFF;

/* media queries */
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;
$extra-large: 1400px;
